<html>
                <head>
                <link rel="stylesheet" type="text/css" href="static/elite.css" />
                </head>
                <body>
                  <h1>Elite - Add a run</h1>
<form method="post" action="/runpost" >
		DateTime    <input type="date" name="date" /> 
		    <input type="time" name="time" /> <br/>
		Calories    <input type="text" name="calories" /> <br/>
		Distance    <input type="text" name="distance" /> <br/>

		Speed    <input type="text" name="speed" /> <br/>

		Heart Rate    <input type="text" name="heartrate" /> <br/>

		    <input type="submit" />

                  
		  </form>  
                </body>
            </html>
